.grid.grid-cols-1.gap-8.md:grid-cols-2
  .c-panel
    h2 Draft or Die
    p Growing tired of auto-drafters scooping up the value picks?
      You won't find rankings here! Draft or Die helps turn your draft
      day into a party. Shame the friend who shows up with the Fantasy
      Magazine and drafts THAT player... you know, the one who's going
      to miss the entire season. If something comes up during the
      draft, your League Commissioner can strategically pause, ensuring
      that all participants have a fair and equal chance to make their
      picks. Rely on your expertise and knowledge to assemble your team. Compete, and conquer like never before! It's time to Draft... or Die!
    h3 Why should I use Draft or Die?
    ul
      li You want that "Player-sticker" experience (no rankings)
      li You already have a sick TV to display the board
      li Someone needs a break (pause the draft)
      li Someone no-shows or bails (auto-drafters get wrecked)
      li Draft in-person and/or remotely
      li Write-in picks (late-round sleepers, FTW)
    p.text-center.pt-4
      = link_to "Start a new Draft",
        new_draft_path,
        class: "c-button c-button--hero#{' c-button--secondary' if current_user.drafts.any?}"
  .c-panel.text-center
    - if user_signed_in?
      h3 My Drafts
      - if current_user.drafts.any?
        .c-draft-cards
          = render partial: "drafts/draft_card",
            collection: current_user.drafts,
            as: :draft
    - else
      h3 Sign Up Today
      = link_to "Sign Up",
        new_user_registration_path,
        class: "c-button c-button--hero"
      = link_to "Log In",
        new_user_session_path,
        class: "c-button c-button--hero c-button--secondary"
