- if user_signed_in?
  .text-center
    h3 My Drafts
    - if current_user&.drafts&.any?
      .c-draft-cards
        = render partial: "drafts/draft_card",
          collection: current_user.drafts,
          as: :draft
    p.text-center.pt-4
      = link_to "Start a new Draft",
        new_draft_path,
        class: "c-button c-button--hero#{' c-button--secondary' if current_user&.drafts&.any?}"

- else
  .text-center.mb-5
    h3 Sign Up Today
    = link_to "Sign Up",
      new_user_registration_path,
      class: "c-button c-button--hero"
    = link_to "Log In",
      new_user_session_path,
      class: "c-button c-button--hero c-button--secondary"
  .grid.grid-cols-4
    .col-start-2.col-span-2.mb-5
      p Join us at Draft or Die and transform your fantasy draft into an unforgettable experience. Bid farewell to the predictability of rankings and embrace the unpredictability of drafting your ultimate team. Say no to the frustration of auto-drafters snatching up all the value picks and hello to a dynamic draft environment where strategy and knowledge reign supreme. It's time to elevate your fantasy game and experience the excitement of drafting like never before. Don't miss out on the action – join Draft or Die today!
  .c-panel
    h3.text-center.mb-5 Why should I use Draft or Die?
    .grid.grid-cols-1.gap-8.md:grid-cols-2
      div
        = image_tag "example-draft-annotated.jpg",
          class: "rounded-xl"
      div
        h4 Live Drafts are More Fun
        p With Draft or Die, we ditch the rankings and bring back the
          excitement of making your picks based on your own research.
        h4 Why waste paper when you have a TV?
        p Our platform is optimized for the big screen, making every
          selection a cinematic experience.
        h4 Smoke Em if you got Em
        p The Draft Admin can strategically halt the draft to
          accommodate breaks, ensuring that every participant has
          the chance to regroup and strategize effectively.
        h4 Punish No-shows
        p With Draft or Die, auto-drafting isn't a thing. If you're
          not there, you straight up miss your picks. Your league
          can decide how to fill those missed picks after the draft
          concludes. We recommend Kickers for Football Drafts.
        h4 Remote Option
        p Draft or Die plays best when everyone in the same room,
          but we realize shit happens. Players can join virtually
          from anywhere in the world, bringing fantasy sports
          enthusiasts together like never before.
        h4 Snag those Deep Sleepers
        p Leverage the freedom to write in a pick, giving you the
          flexibility to snag those hidden gems at the end of a Draft.
