.c-panel
  .c-selection
    .c-selection__identifier
      h4.c-selection__identifier__team = display_data.team_name
      span.c-selection__identifier__round
        span Round #{display_data.round_number}
      span.c-selection__identifier__pick<
        span Pick ##{display_data.pick_number}
    = turbo_frame_tag display_data.selection,
      src: commish_edit_draft_selection_path( \
        display_data.draft, display_data.selection_id),
      loading: :lazy
