.c-container--md.m-auto.mb-2.pt-3
  = form_for([selection.draft, selection],
    url: player_data_draft_selection_path( \
      selection.draft, selection),
    html: { class: "c-form" },
    data: { turbo_method: :patch }, method: :patch \
  ) do |f|
    - if selection.errors.any?
      = render "shared/errors",
        target: selection
    .m-auto
      = render "selections/fields", f: f
    - data = { turbo_frame: "_top" }
    - if local_assigns[:is_bulk]
      - data = data.merge(turbo: false)
    = f.submit "Draft Player",
      class: "c-button c-button--positive",
      data: data
javascript:
  (function () {
    let form = document.
      getElementById("edit_selection_#{selection.id}");

    form.addEventListener("submit", (event) => {
      event.currentTarget.classList.add("c-form--submitting");
    });
  })();
