div class="#{pick_class(selection, user)}"
  strong Pick #{selection.pick_number}
  - if selection.is_missed?
    span< Missed Pick
  - else
    span< #{selection.player_name} (#{selection.position})
  span.text-xs< #{selection.user.email || 'Unknown User'}
