div class="#{pick_class(selection, user)}"
  strong Pick #{selection.pick_number}
  - if !is_upcoming
    - if selection.is_missed?
      span< Missed Pick
  - if selection.is_selected? && !selection.is_missed?
    span< #{selection.name} (#{selection.position})
  br
  span Team:
  span.text-xs< = selection&.pairing&.team_name
