@layer components {
  .c-draft__footer {
    @apply flex flex-col justify-around items-center bottom-0 fixed inset-x-0 text-white p-1 border-t-4 border-gray-500;
    align-items: stretch;
    background-color: #2e4846;
    z-index: 1;
    text-align: center;
  }
  .c-draft__name {
    font-size: 1.5rem;
    color: #b7fbe9;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
    padding: 0;
  }

  .c-draft__clock {
    color: #dece26;
    min-width: 30%;
    margin: 0;
  }

  .c-draft__deck {
    @apply text-sm;
    min-width: 15%;
    margin: 0;
  }
  .c-draft__qr { display: none; }
  /* Overrides for medium displays */
  @media (min-width: 768px) {
    .c-draft__qr { display: inline-block; }
  }
}
