@layer components {
  .c-draft {
    color: #98b5b3;
    position: relative;

    &.c-draft--fade {
      &:before {
        position: fixed;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
      }

      .c-draft__board {
        opacity: 0;
      }
    }
  }
  .c-draft--paused {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
    &:after {
      content: "Draft Paused";
      position: fixed;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 50%;
      font-size: 5em;
      text-align: center;
    }
  }
  .c-draft__board {
    @apply w-full flex flex-col;
    /* for fade out effect */
    opacity: 1;
    transition: opacity 1.0s ease-in-out;
    background-color: #182625;
    /* text-wrap: balance; */
    /*@apply flex-col-reverse;*/
  }
  .c-draft__board__round {
    @apply flex flex-row;
    flex-wrap: wrap;
  }
  .c-draft__board__slot {
    position: relative;
    border: 1px outset #000202;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    flex: 1 0 48%;
    flex-direction: column;
    /* border-top: 1px solid #444; */
    width: 48%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .c-draft__board__slot--current {
    @apply border-green-200 animate-pulse;
    background-color: #e2e2e2;
    color: #4f4f4f;
  }
  .c-draft__board__slot--selected {
    @apply bg-gray-100 border-gray-200 text-red-800;
  }

  .c-draft__board__slot--qb {
    @apply bg-blue-300 border-blue-400 text-blue-700;
  }
  .c-draft__board__slot--rb {
    @apply bg-lime-300 border-lime-400 text-lime-700;
  }
  .c-draft__board__slot--wr {
    @apply bg-yellow-300 border-yellow-400 text-yellow-700;
  }
  .c-draft__board__slot--te {
    @apply bg-pink-300 border-pink-400 text-pink-700;
  }
  .c-draft__board__slot--k {
    @apply bg-purple-300 border-purple-400 text-purple-700;
  }
  .c-draft__board__slot--dst {
    @apply bg-indigo-300 border-indigo-400 text-indigo-700;
  }
  .c-draft__board__slot__identifier {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0.25;
    margin: auto;
    font-size: 10px;
    line-height: 1;
    &:before {
      position: relative;
      content: "Pick: ";
    }
  }

  .c-draft__branding { @apply text-center; }
  .c-draft__access { @apply text-sm; }

  /* ALL DAY, MOBILE-HIDDEN STUFF */
  .c-draft__qr,
  .c-draft__deck,
  .c-draft__selection-prior {
    display: none;
  }
  /* Overrides for medium displays */
  @media (min-width: 768px) {
    .c-draft {
      &.c-draft--fade {
        &:before {
          font-size: 3rem;
        }
      }
    }
    .c-draft__branding { text-align: left; }

    .c-draft__board__slot {
      font-size: 16px;
      flex: 1;
    }
    .c-draft__board__round--reversed {
      @apply flex-row-reverse;
      background-color: #131e1d;
    }

    .c-draft__dashboard {
      background-color: #182625;
      padding-top: 0.5rem;
    }
  }
  .c-draft__deck {
    display: block;
  }

  /* Overrides for full Desktop */
  @media (min-width: 1024px) {
    .c-draft__qr,
    .c-draft__selection-prior {
      display: block;
    }
  }
}
