@layer components {
  .c-draft {
    @apply flex flex-col;

    padding-bottom: 75px;
    background-color: #182625;
    /* light purple-ish */
    color: #98b5b3;
    position: relative;
  }

  .c-draft--paused::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .c-draft--paused::after {
    content: "Draft Paused";
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    font-size: 5em;
    text-align: center;
  }
  .c-draft__controls {
    @apply flex flex-row justify-around items-center bottom-0 fixed inset-x-0 text-white p-2 border-b-4 border-gray-500;
    background-color: rgba(50, 50, 50, 0.8);
    bottom: 90px;
    z-index: 1;
    max-width: 50%;
    margin-left: 50%;
  }
  .c-draft__footer {
    @apply flex flex-row justify-around items-center bottom-0 fixed inset-x-0 text-white p-2 border-t-4 border-gray-500;
    background-color: #2e4846;
    z-index: 1;
  }
  .c-draft__footer__name {
    @apply text-3xl font-bold;
    color: #b7fbe9;
    text-shadow: 2px 2px 2px #000000;
  }
  .c-draft__footer__state {
    @apply text-5xl font-bold;
    color: #b7fbe9;
    text-shadow: 2px 2px 2px #000000;
  }

  .c-draft__footer__selection {
    @apply text-sm;
    min-width: 15%;
  }

  .c-draft__footer__clock {
    @apply text-6xl font-bold;
    color: #dece26;
  }

  .c-draft__board {
    @apply w-full flex flex-col;
    /*@apply flex-col-reverse;*/
  }

  .c-draft__board__round {
    @apply flex flex-row;
  }
  .c-draft__board__round--reversed {
    @apply flex-row-reverse;
    background-color: #131e1d;
  }

  .c-draft__board__slot {
    font-size: 16px;
    @apply flex-1 flex flex-col truncate p-1;
    border-top: 1px solid #444;
  }
  .c-draft__board__slot--current {
    @apply border-green-200 animate-pulse;
    background-color: #e2e2e2;
    color: #4f4f4f;
  }
  .c-draft__board__slot--selected {
    @apply bg-gray-100 border-gray-200 text-red-800;
  }

  .c-draft__board__slot--qb {
    @apply bg-blue-300 border-blue-400 text-blue-700;
  }
  .c-draft__board__slot--rb {
    @apply bg-lime-300 border-lime-400 text-lime-700;
  }
  .c-draft__board__slot--wr {
    @apply bg-yellow-300 border-yellow-400 text-yellow-700;
  }
  .c-draft__board__slot--te {
    @apply bg-pink-300 border-pink-400 text-pink-700;
  }
  .c-draft__board__slot--k {
    @apply bg-purple-300 border-purple-400 text-purple-700;
  }
  .c-draft__board__slot--dst {
    @apply bg-indigo-300 border-indigo-400 text-indigo-700;
  }

  .c-draft__pick {
    @apply border-b-2 border-gray-500;
    padding: 0.2em;
  }
  .c-draft__pick--current {
    @apply bg-green-500;
  }
  .c-draft__pick--mine {
    @apply border-l-2 border-gray-500;
    font-weight: bold;
    background-color: #2e4846;
  }
  .c-draft__pick--missed {
    color: #c45b5b;
    background-color: #460e18;
  }
}
