@layer components {
  .c-draft-cards {
    display: flex;
    gap: 1%;
    row-gap: 2%;
    column-gap: 1%;
    flex-wrap: wrap;
  }
  .c-draft-card {
    @apply relative flex items-center justify-center h-full p-1 border border-gray-200 rounded-lg shadow-sm;
    width: 24%;
    min-height: 8rem;
    margin-bottom: 1%;
    background-color: teal;

    &.c-draft-card--ended {
      background-color: #222;
      position: relative;

      &::before {
        font-size: 0.5rem;
        content: 'Ended';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem 1rem;
        border-bottom-left-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
