@layer components {
  .c-draft__selections-list {
    background-color: #143533;
    @apply overflow-y-scroll;
    max-height: 24vh;
    border: 1px solid #222;
    margin-bottom: 1rem;
    box-shadow: 0 0 0.25rem 0.25rem #00000020;
    font-size: 0.75rem;
  }
  .c-draft__pick {
    border-bottom: 1px solid #222;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .c-draft__pick--current {
    @apply bg-green-500;
    color: #4f4f4f;
    font-weight: bold;
  }
  .c-draft__pick--missed {
    color: #c45b5b;
    background-color: #444;
  }
  .c-draft__pick--mine {
    background-color: #469bc8;
    border-color: #387392;
    border-left-width: 20px;
    font-weight: bold;
    color: #222;
  }

  /* Overrides for Desktop / larger screens */
  @media (min-width: 768px) {
    .c-draft__selections {
      @apply flex grid grid-cols-2 pb-3 gap-2;
      max-height: 70vh;
    }
    .c-draft__pick {
      padding: 0.2em;
    }
  }
}
