@layer components {
  .c-fuzzy-select {
    @apply rounded-lg p-3;
    background-color: #2e4846;
    color: #cad3b3;
    box-shadow: 3px 3px 5px #333;
    width: 100%;

    .c-fuzzy-select__items {
      margin-top: 0.3rem;
      font-size: 1rem;
      max-height: 24vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
