@layer components {
  .c-layout-main { }

  .c-layout-header {
    @apply flex justify-between items-baseline p-1;
  }

  .c-layout__header-title {
    @apply text-lg;
  }

  .c-layout-footer-wrap {
    min-height: 100%;
    /* MUST MATCH FOOTER HEIGHT */
    margin-bottom: -36px;
  }
  .c-layout-footer-wrap__push,
  .c-layout-footer {
    height: 36px;
  }
  .c-layout-footer {
    @apply text-center p-2;
  }

  .c-layout__focus {
    @apply max-w-xl mx-auto;
  }

  /* [class^="c-layout-"] { */
  /*   padding-left: 0.5rem; */
  /*   padding-right: 0.5rem; */
  /* } */

  .c-layout__scoped {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
