@layer components {
  .c-layout-main { }

  .c-layout-header {
    @apply flex justify-between items-center p-1;
  }

  .c-layout-header__title {
    @apply text-lg;
  }

  .c-layout-footer {
    @apply text-center p-2;
    position: sticky;
    top: 100vh;
  }

  .c-layout__focus {
    @apply max-w-xl mx-auto;
  }

  [class^="c-layout-"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
