@layer components {
  .c-nav-logo { display: none; }
  .c-nav-trigger {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0.9;
    cursor: pointer;
  }
  .c-nav-trigger:before {
    content: "";
    position: absolute;
    background-color: #2e4846;
    transform: rotate(45deg);
    height: 8rem;
    width: 8rem;
    display: block;
    top: 0;
    left: -4rem;
    z-index: -1;
    box-shadow: 0 0 0.5rem 0.5rem #00000020;
  }
  .c-nav-trigger__icon {
    fill: #c5c568;
    margin: 0.75rem;
  }
  .c-nav {
    opacity: 0.9;
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #2e4846;
    width: 60%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.5rem #00000020;
    @apply text-lg;
  }
  .c-nav__item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
    display: block;
  }
  @media (min-width: 768px) {
    .c-nav-logo { display: block; }
    .c-nav-trigger {
      display: none;
    }
    .c-nav {
      background-color: transparent;
      position: static;
      display: block;
      width: 100%;
      border-top-right-radius: 0;
      box-shadow: none;
      @apply text-sm;
    }
    .c-nav__item {
      display: inline-block;
      margin-left: 0.5rem;
      width: auto;
      &:first-child {
        margin-left: 0;
      }
    }

    [class^="c-nav__nav-"] {
      position: relative;
      display: inline-block;

      + [class^="c-nav__nav-"] {
        &::before {
          position: relative;
          content: "|";
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
