@layer components {
  .c-nav {
    @apply flex justify-between items-center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .c-nav__item {
    display: inline-block;
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }

  [class^="c-nav__nav-"] {
    position: relative;

    + [class^="c-nav__nav-"] {
      &::before {
        position: relative;
        content: "|";
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
