@layer components {
  .c-panel {
    @apply rounded-lg p-3;
    background-color: #2e4846;
    color: #cad3b3;
    box-shadow: 3px 3px 5px #333;

    + .c-panel {
      margin-top: 0.5rem;
    }
  }
  .c-panel__subpanel {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    @apply rounded-md;
    background-color: #4c4c4c;
    padding: 0.75rem;
    color: #999;
  }
  .c-panel__focus {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  /* Overrides for Desktop / larger screens */
  @media (min-width: 768px) {
    .c-panel {
      + .c-panel {
        margin-top: unset;
      }
    }
  }
}
