body {
  font-size: 0.8em;
  background-color: #383f3e;
  color: #cad3b3;
}

a, a:visited {
  color: #c5c568
}

a:hover {
  color: #dece26;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

h2 { @apply text-3xl; margin-bottom: 12px; }

h3 { @apply text-2xl; margin-bottom: 12px; }

.turbo-progress-bar {
  height: 5px;
  background-color: #b7fbe9;
}
