div Use this access code to join "#{@draft.name}"
= @draft.access_code
hr
= link_to "Join this Draft",
  draft_url(@draft,
    params: { access_code: @draft.access_code }),
  class: "c-button c-button--secondary"
