.c-draft__board
  - if draft.rounds.empty?
    p No rounds have been added to this draft.
    = link_to 'Generate Board',
      generate_draft_path(draft),
      method: :post,
      data: { turbo_method: :post }
  - elsif draft.is_ended?
    h3.text-xl.text-center.pt-2 All selections have been made.
  - else
    - draft.rounds.each do |round|
      div class="c-draft__board__round#{' c-draft__board__round--reversed' if round.is_reversed}"
        - round.ordered_selections.each do |selection|
          div id="pick_number_#{selection.pick_number}" class="#{selection_class(draft, selection)}"
            strong Rd. #{round.number} Pick #{selection.pick_number}
            span #{selection.player_name} (#{selection.position})
            span #{selection.user.email || 'Unknown User'}
