- if draft.rounds.empty?
  p Draft Board has not been setup yet.
- elsif draft.is_ended?
  h3.text-xl.text-center.pt-2 All selections have been made.
- else
  - draft.rounds.each do |round|
    div class="c-draft__board__round#{' c-draft__board__round--reversed' if round.is_reversed}"
      - round.ordered_selections.each do |selection|
        = render partial: "drafts/board_selection",
          locals: { selection: selection }
javascript:
  // scroll to the current selection
  (function () {
    var currentSlot = document.
      querySelector(".c-draft__board__slot--current");
    if (!currentSlot) { return; }

    window.scrollTo({
      top: currentSlot.offsetTop-20,
      behavior: "smooth",
    });
  })();
