.c-draft__qr
  == RQRCode::QRCode.new( \
    "https://draftordie.com#{request.env['PATH_INFO']}" \
    ).as_svg( \
    color: "b7fbe9",
    shape_rendering: "crispEdges",
    module_size: 3,
    standalone: true,
    use_path: true \
  )
