.c-draft-card class="#{'c-draft-card--ended' if draft.is_ended?}"
  .c-draft-card__header
    .c-draft-card__header__title
      = link_to draft.name, draft_path(draft)
    .c-draft-card__body
      span #{draft.allocation} Allocated
    .c-draft-card__header__meta
      = draft.created_at.strftime("%B %d, %Y")
