.c-draft__selection-prior
  - if draft.progression&.prior_selection
    strong Last pick:
    span< #{draft.progression.prior_selection.name}
  - if draft.progression&.next_selection
    - if draft&.next_selection
      .c-draft__deck__next
        strong On deck:
        span< #{draft.next_selection&.pairing&.team_name}
