div class="grid grid-cols-1 gap-8 m-auto#{' md:grid-cols-2' if f.object.persisted?}"
  .c-panel
    h3.text-center Setup Draft
    .form-group.form-group--required
      = f.label :player_pool, "Player Pool",
        class: "c-form__label"
      = f.select :player_pool, options_for_select( \
        PlayerPool.all.map { |pool| [pool.name, pool.id] }, selected: f.object.player_pool_id),
        { include_blank: "Select a Player Pool" },
        { class: "c-field" }
    .form-group.form-group--required
      = f.label :name, "Draft Name",
        class: "c-form__label"
      = f.text_field :name, class: "c-field"
    .form-group.form-group--required
      = f.label :round_count, "Number of Rounds",
        class: "c-form__label"
      = f.number_field :round_count, class: "c-field"
    .form-group.form-group--required
      = f.label :selection_seconds, "Time per Selection",
        class: "c-form__label"
      = f.number_field :selection_seconds, class: "c-field"
    .form-group.form-group--required
      = f.label :user_count, "Number of Participants",
        class: "c-form__label"
      = f.number_field :user_count, class: "c-field"
    - if f.object.persisted?
      .mt-4.text-center
        = f.submit "Update Draft",
          class: "c-button c-button--positive"
  - if f.object.persisted?
    .c-panel
      .form-group.form-group--required
        h3.text-center Participants
        - if f.object.team_name_pairings.any?
          .c-button-stack
            - f.object.team_name_pairings.each do |pairing|
              = link_to "Remove #{pairing.context_value}",
                remove_user_draft_path(f.object, pairing.user_id),
                class: "c-button c-button--negative " \
                  "c-button--small",
                method: :delete, data: { \
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?" }
      .mt-4.text-center
        - if @draft&.slug&.present?
          = link_to "Invite a Participant",
            invite_draft_path(@draft),
            class: "c-button c-button--secondary"
