- current_selection = draft.current_selection
.c-draft__footer
  .c-draft__footer__name= draft.name
  - if draft.progression&.current_pick_number
    .c-draft__footer__selection
      - if draft.progression&.prior_selection
        .c-draft__footer__state__prior
          .pb-1
            strong Last pick:
            br
            span< #{draft.progression.prior_selection.name}
    .c-draft__footer__selection
      strong Pick #{draft.progression&.current_pick_number} on the clock:
      br
      span = current_selection.user.email
      .pt-2
        - if draft.progression&.next_selection
          .c-draft__footer__state__next
            strong On deck:
            span< #{draft.progression.next_selection.user_email}
    .c-draft__footer__clock
      - if draft.is_running?
        .b-countdown.b-countdown--simple data-to="#{Time.current + draft.current_selection.seconds_remaining.seconds}"
      - else
        - clock = draft.current_selection.time_remaining
        span.minutes = "%02d" % (clock[1] || 0)
        span
          | :
        span.seconds = "%02d" % (clock[2] || 0)
  - else
    strong No selection in progress
  .c-draft__footer__qr
    == RQRCode::QRCode.new("https://draftordie.com#{request.env['PATH_INFO']}").as_svg( \
      color: "b7fbe9",
      shape_rendering: "crispEdges",
      module_size: 2,
      standalone: true,
      use_path: true \
    )
