- if draft.is_ended?
  .c-draft__branding.text-center
    h2.c-draft__name = draft.name
    p.text-center.pt-1 The Draft has Ended
- else
  .grid.grid-cols-1.md:grid-cols-10
    = render partial: "drafts/draft_qrcode",
      locals: { draft: draft }
    .col-span-2
      .c-draft__branding
        h2.c-draft__name = draft.name
        .c-draft__access
          span Access Code
          strong< = draft.access_code
    .col-span-4
      - if draft.progression&.current_pick_number
        = render partial: "drafts/selection_clock",
          locals: { draft: draft }
    .col-span-3
      - if draft.progression&.current_pick_number
        = render partial: "drafts/draft_deck",
          locals: { draft: draft }
        = render partial: "drafts/draft_prior_selection",
          locals: { draft: draft }
