javascript:
  var minutes, seconds, checkNext;

  document.addEventListener('turbo:load', (evt) => {
    let currentSlot = document.
      querySelector(".c-draft__board__slot--current");
    if (!currentSlot) { return; }

    window.scrollTo({
      top: currentSlot.offsetTop,
      left: currentSlot.offsetLeft,
      behavior: "smooth",
    });

    function handleSelection() {
      if (!document.querySelector(".b-countdown__minutes")) { return; }
      if (!document.querySelector(".b-countdown__seconds")) { return; }

      minutes = document.
        querySelector(".b-countdown__minutes").
        innerText.replace(/\s/g, "");
      seconds = document.
        querySelector(".b-countdown__seconds").
        innerText.replace(/\s/g, "");
      if (minutes === "00" && seconds === "00") {
        console.log("time reached 00:00");
        console.log("signaling to start next selection");
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "#{start_next_selection_draft_path(draft)}");
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader(
          'X-CSRF-Token', document.
            querySelector('meta[name="csrf-token"]').content
        )

        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
          }
        };

        xhr.send();

        clearInterval(checkNext);
        Turbo.visit(window.location, { action: "replace" });
      }
    }
    checkNext = setTimeout(handleSelection, #{(draft.selection_seconds * 1000) + 100});
  }, false);
