h3.c-draft__clock
  - if draft.is_running?
    .b-countdown.b-countdown--simple data-to="#{Time.current + draft.current_selection.seconds_remaining.seconds}"
    javascript:
      /* initial load will not be available... */
      if (typeof initCountdowns === 'function') {
        initCountdowns();
      }
  - elsif clock = draft.current_selection.time_remaining
    span.minutes = "%02d" % (clock[1] || 0)
    span
      | :
    span.seconds = "%02d" % (clock[2] || 0)
