.text-center
  h2.c-draft__name = draft.name
  = render partial: "drafts/draft_deck",
    locals: { draft: draft }
  = render partial: "drafts/selection_clock",
    locals: { draft: draft }
  = render partial: "drafts/draft_prior_selection",
    locals: { draft: draft }
