.grid.grid-cols-2.gap-8
  .c-draft__selections
    - if draft.remaining_selections.any?
      - draft.remaining_selections.each do |selection|
        = render partial: "selections/selection",
          locals: { selection: selection, user: user }
    - else
      p No selections yet.
  - if draft.is_running?
    .c-draft__selection-form
      .c-container--md
        = render partial: "selections/form",
          locals: { draft: draft, selection: selection }
    javascript:
      (function () {
        var currentUserId = document.
          querySelector("meta[name='current-user-id']").
          getAttribute("content");
        var form = document.
          querySelector(".c-draft__selection-form form");

        if (currentUserId !== "#{selection.user_id}") {
          console.log("not your turn");
          form.style.display = "none";
          return;
        }
        form.addEventListener("submit", (e) => {
          form.style.display = "none";
        })
      })();
