.grid.grid-cols-1.gap-8.md:grid-cols-2
  - if draft.is_running?
    .c-draft__selection-form
      .c-container--md
        = render partial: "selections/form",
          locals: { draft: draft, selection: selection }
    javascript:
      (function () {
        var currentUserId = document.
          querySelector("meta[name='current-user-id']").
          getAttribute("content");
        var form = document.
          querySelector(".c-draft__selection-form form");

        if (currentUserId !== "#{selection.user_id}") {
          console.log("not your turn");
          form.style.display = "none";
          return;
        }
        form.addEventListener("submit", (e) => {
          form.style.display = "none";
        })
      })();
  .c-draft__selections.grid.grid-cols-2
    - if draft.upcoming_selections.any?
      .c-draft__selections__upcoming
        h3 Upcoming Selections
        - draft.upcoming_selections.each do |selection|
          = render partial: "selections/selection",
            locals: { selection: selection, user: user }
      - if draft.prior_selections.any?
        .c-draft__selections__upcoming
          h3 Prior Selections
          - draft.prior_selections.each do |selection|
            = render partial: "selections/selection",
              locals: { selection: selection, user: user }
    - else
      p No selections yet.
