.c-draft__selections
  - if draft.upcoming_selections.any?
    div
      h3 Upcoming Selections
      .c-draft__selections-list
        - draft.upcoming_selections.each do |selection|
          = render partial: "selections/selection",
            locals: { selection: selection,
              is_upcoming: true,
              user: selection.user }
    - if draft.prior_selections.any?
      div
        h3 Prior Selections
        .c-draft__selections-list
          - draft.prior_selections.each do |selection|
            = render partial: "selections/selection",
              locals: { selection: selection,
                is_upcoming: false,
                user: selection.user }
  - else
    p No selections yet.
