.c-container--md
  = form_for @draft, html: { class: "c-form" } do |f|
    - if @draft.errors.any?
      = render "shared/errors", target: @draft
    = render "fields", f: f
    = f.submit "Update Draft",
      class: "c-button c-button--positive"
    - if @draft.rounds.any?
      = link_to "View Draft", @draft,
        class: "c-button c-button--secondary"
      = link_to '(Re)Generate Board',
        generate_draft_path(@draft),
        method: :post,
        data: { turbo_method: :post,
          turbo_confirm: "Are you sure?" },
        class: "c-button c-button--secondary"
    - else
      = link_to 'Generate Board',
        generate_draft_path(@draft),
        method: :post,
        data: { turbo_method: :post },
        class: "c-button c-button--secondary"
    = link_to "Invite Users",
      invite_draft_path(@draft),
      class: "c-button c-button--secondary"

