= form_for @draft, html: { class: "c-form" } do |f|
  - if @draft.errors.any?
    = render "shared/errors", target: @draft
  = render "fields", f: f
  .pt-4.text-center
    - if @draft.users.any? && @draft.users.count > 1
      = link_to 'Set Draft Order',
        order_draft_path(@draft),
        class: "c-button c-button--secondary"
    - if @draft.rounds.any?
      = link_to '(Re)Generate Board',
        generate_draft_path(@draft),
        method: :post,
        data: { turbo_method: :post,
          turbo_confirm: "Are you sure?" },
        class: "c-button c-button--secondary"
    - else
      = link_to 'Generate Board',
        generate_draft_path(@draft),
        method: :post,
        data: { turbo_method: :post },
        class: "c-button c-button--secondary"
    - if @draft.is_running?
      = link_to 'Pause Draft',
        pause_draft_path(@draft),
        method: :patch,
        data: { turbo_method: :patch,
          turbo_frame: "_top",
          turbo_confirm: "Are you sure?" },
        class: "c-button c-button--secondary"
    - else
      = link_to 'Start Draft',
        start_draft_path(@draft),
        method: :patch,
        data: { turbo_method: :patch,
          turbo_confirm: "Are you sure?" },
        class: "c-button"
    - if @draft.is_paused?
      = link_to 'Resume Draft',
        start_draft_path(@draft),
        method: :patch,
        data: { turbo_method: :patch,
          turbo_frame: "_top",
          turbo_confirm: "Are you sure?" },
        class: "c-button c-button--secondary"
