= form_for(@pairing, url: join_draft_path(@pairing.pairable, @pairing),
  html: { class: "c-form" } \
) do |f|
  - if @pairing.errors.any?
    = render "shared/errors", target: @pairing
  .form-group.form-group--required
    = f.label :context_value, "Team Name",
      class: "c-form__label"
    = f.text_field :context_value
  = f.submit "Join Draft",
    class: "c-button c-button--positive"
