= form_for @draft do |f|
  - if @draft.errors.any?
    = render "shared/errors", target: @draft
  = render "fields", f: f
  .pt-4.text-center
    = f.submit "Create Draft", class: "c-button",
      data: { turbo: false }
