= turbo_stream_from(:draft_show)
div class="c-draft"
  div.c-draft__picks id="show_#{@draft.slug}"
    = render partial: "drafts/show",
      locals: { draft: @draft, user: Current.user }
  - if !@draft.is_running? && @draft.users.include?(current_user)
    = link_to 'Leave Draft',
      leave_draft_path(@draft),
      class: "c-button c-button--negative",
      method: :delete,
      data: { turbo_method: :delete }
