- content_for :signed_in_nav do
  - unless @draft.is_started?
    span>
      - if @draft.users.include?(current_user)
        = link_to 'Leave this Draft',
          leave_draft_path(@draft),
          method: :delete,
          data: { turbo_method: :delete }
      - else
        = link_to 'Join this Draft',
          join_draft_path(@draft),
          method: :post,
          data: { turbo_method: :post }
  - @draft.is_started?
css:
  .c-draft__board__slot {
    width: #{100 / [@draft.users.count, 1].max}%;
    font-size: #{compute_text_size(@draft.users.count)}px;
  }
div class="c-draft#{' c-draft--paused' if @draft.is_paused?}"
  = render partial: "drafts/board", locals: { draft: @draft }
  = render partial: "drafts/footer", locals: { draft: @draft }
- if @draft.is_running?
  = render partial: "drafts/script", locals: { draft: @draft }
