doctype html
html
  head
    title Draft or Die
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1"
    )
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application",
      "data-turbo-track": "reload"
    = javascript_include_tag "application",
      "data-turbo-track": "reload", defer: true
    - if current_user
      meta name="current-user-id" content="#{current_user.id}"
    = yield :meta
  body.c-layout
    - if is_turbo_draft?
      = turbo_stream_from @draft
    section.c-layout-footer-wrap
      .c-layout__scoped
        header.c-layout-header
          .c-layout__header-title
            = link_to "Draft or Die", root_path
          .c-layout__header-navigation
            = render "shared/navigation"
      - if flash.any?
        = render "shared/flash"
      main.c-layout-main
        = yield
      .c-layout-footer-wrap__push
    footer.c-layout-footer
      .c-layout__scoped
        span &copy; #{Time.current.year} Draft or Die
