html
  head
    = stylesheet_link_tag "application",
      "data-turbo-track": "reload"
    link href="https://fonts.googleapis.com/css2?family=Keania+One&display=swap" rel="stylesheet"

  body.c-layout
    main.c-layout-main = yield
    footer.c-layout-footer
      span &copy; #{Time.current.year} Draft or Die
